html, body {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1, h2, p {
    margin: 0;
}
a:link {
    color:grey;
}
a:visited {
    color:grey;
}
a:hover {
    color:lightgrey;
}
a:active {
    color:darkgrey;
}
button:focus {
    outline:0;
}
div {
    display: block
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    background-color: black;
    color: white;
    height: 15%;
    width: 100%;
    margin: 0;
    //padding-left:20px;
    //padding-right:20px;
    //padding-top:20px;
}
.header .inner p{
    text-align:center;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.container {
    height: 75%;
    width: 100%;
    margin:0;
}
.footer {
    background-color: black;
    color: white;
    height: 10%;
    width: 100%;
    margin: 0;
    //padding-left: 20px;
    //padding-right: 20px;
    //padding-bottom: 20px;
}
.footer .inner p{
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.sidebarLeft {
    background-color: black;
    color: white;
    height: 100%;
    width: 16.6%;
    margin: 0;
    //padding-left: 20px;
    padding-top: 2%;
    float: left;
}
.sidebarLeft p {
    text-decoration: underline;
}
.sidebarLeft .menuButton {
    background-color: black; /* Green */
    width: 100%;
    border: none;
    margin: 0;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.sidebarLeft .menuButton:hover {
    background-color:#4CAF50; /*#0B610B; #088A08; green; #4CAF50; #73AD21;*/
    color: black;
    cursor:pointer;
}
.content {
    background-color: black;
    color: white;
    height: 100%;
    width: 66.8%;
    margin: 0;
    padding-top: 5%;
    float:left;
}
.content .inner p{
    text-align:center;
    margin:0;
    position:absolute;
    top:0%;
    left:50%;
    transform: translate(-50%, -50%);
}
.sidebarRight {
    background-color: black;
    color: white;
    height: 100%;
    width: 16.6%;
    margin: 0;
    //padding-right: 20px;
    padding-top: 2%;
    float:left;
}
.sidebarRight p {
    text-decoration: underline;
}
.sidebarRight ul {
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:center;
}
.sidebarRight li {
    display:block;
}
.sidebarRight a {
    color:white;
    text-decoration: none;
    padding: 5px 5px;
    display:block;
    font-size:12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.sidebarRight a:hover {
    background-color: orange;
    color:black;
}
.inner {
    height:100%;
    width:100%;
    position:relative;
    /*border:1px solid #73AD21;*/
}