html, body {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, h2, p {
    margin: 0;
}

div {
    display: block
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.header {
    background-color: black;
    color: white;
    height: 15%;
    width: 100%;
    margin: 0;
    padding:20px;
}
div.sidebar {
    background-color: black;
    color: white;
    height: 80%;
    width: 15%;
    margin:0;
    padding:10px;
}
div.content {
    background-color: white;
    color: black;
    height: 80%;
    width: 78%;
    margin: 0;
    padding:20px;
    display:inline-block;
}
div.footer {
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
    margin: 0;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

div.inner {
    height:100%;
    width:100%;
    position:relative;
    border:1px solid #73AD21;
}

div.inner p {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}