html, body {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, p {
    margin: 0;
}

div.header {
    background-color: black;
    color: white;
    height: 15%;
    width: auto;
    margin: 0;
    padding:20px;
}
div.content {
    background-color: white;
    color: black;
    height: 80%;
    width: auto;
    margin: 0;
    padding: 10%;
}
div.footer {
    background-color: black;
    color: white;
    height: 5%;
    width: auto;
    margin: 0;
    padding:20px;
}