html, body {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, p {
    margin: 0;
}

div {
    display: block
}

div.header {
    background-color: black;
    color: white;
    height: 15%;
    width: auto;
    margin: 0;
}
div.content {
    background-color: white;
    color: black;
    height: 80%;
    width: auto;
    margin: 0;
}
div.footer {
    background-color: black;
    color: white;
    height: 5%;
    width: auto;
    margin: 0;
}

div.inner {
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
}

div.inner2 {
    padding:20px;
}