html, body {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, h2, p {
    margin: 0;
}

div {
    display: block
}

div.header {
    background-color: black;
    color: white;
    height: 15%;
    width: 100%;
    margin: 0;
    position:relative;
}
div.content {
    background-color: white;
    color: black;
    height: 80%;
    width: 100%;
    margin: 0;
    position:relative;
}
div.footer {
    background-color: black;
    color: white;
    heixght: 5%;
    width: 100%;
    margin: 0;
    position: relative;
}

div.inner {
    padding:20px;
    position:absolute;
    top:50%;
    text-align:center;
    border:1px solid #73AD21;
}

div.inner2 {
    padding:20px;
}