html, body {
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, h2, p {
    margin: 0;
}

div {
    display: block
}

div.header {
    background-color: black;
    color: white;
    height: 15%;
    width: 100%;
    margin: 0;
}
div.content {
    background-color: white;
    color: black;
    height: 80%;
    width: 100%;
    margin: 0;
}
div.footer {
    background-color: black;
    color: white;
    height: 5%;
    width: 100%;
    margin: 0;
}

div.inner {
    height:90%;
    width:90%;
    padding:5%;
    position:relative;
    border:1px solid #73AD21;
}

div.inner p {
    position:absolute;
    top:50%;
    left:50%;
}