html, body {
  color: #DC4C4C;
}

img, embed,
object, video {
  max-width: 100%;
}

nav a, button {
  min-height: 48px;
  min-width: 48px;

}
.container {
  display: flex;
  flex-wrap:wrap;
  width:100%;
}

header {
  background-color: #6F906F;
  height:100px;
  width:100%;
}

nav {
  background-color: #A2CCA1;
  height:100px;
  width:100%;
}

main {
  background-color: white;
  height:100px;
  width:100%;
}

footer {
  background-color: #6F906F;
  height:100px;
  width:100%;
}

@media screen and (min-width: 960px) {
  .container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  }
}
